/* Global Styles */
html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    img {
        max-width: 100%;
        max-height: 100%;
    }
} @media (prefers-color-scheme: dark) {
  html, body {
    background-color: #121212;
    color: #E0E0E0;
  }
}

header {
    align-items: center;
    background-color: #121212;
    display: flex;
    height: 50px;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
} header * {
    margin: 10px;
} header input {
    border-radius: 40px;
    height: 35px;
    width: 70%;
    max-width: 800px;
} header img {
    height: 35px;
    width: auto;
}

/* Dropdown Menu */
.dropdown-container {
    color: #e0e0e0d5;
    cursor: pointer;
    display: inline-block;
    position: relative;
} .dropdown-container:hover .dropdown-menu {
    display: block;
} .dropdown-menu {
    border: 1px solid #444444;
    border-radius: 10px;
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    left: 0;
    top: 80%;
} .dropdown-menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #121212;
}

/* Main Content*/

/* Welcome Section */
.welcome-section {
    margin-top: 80px;
    text-align: center;
}
/* Squad */
.squad-section {
    background-color: 121212;
    border:#444444 1px solid;
    margin: 20px;
    text-align: center;
} .squad-list {
    height: 100vh;
    max-width: 600px;
    position: relative;
    width: 100%;
} .player {
    display: block;
    position: absolute;
    width: 8%;
    text-align: center;
    transform: translate(-100%, -100%);
}

/* Analytics Section */
.analytics-section {
    margin: 20px;
    text-align: center;
}