/* Global Styles */
html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    img {
        max-width: 100%;
        max-height: 100%;
    }
} @media (prefers-color-scheme: dark) {
  html, body {
    background-color: #121212;
    color: #E0E0E0;
  }
}

header {
    align-items: center;
    background-color: #121212;
    display: flex;
    height: 50px;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
} header * {
    margin: 10px;
} header input {
    border-radius: 40px;
    height: 35px;
    width: 70%;
    max-width: 800px;
} header img {
    height: 35px;
    width: auto;
}

/* Dropdown Menu */
.dropdown-container {
    color: #e0e0e0d5;
    cursor: pointer;
    display: inline-block;
    position: relative;
} .dropdown-container:hover .dropdown-menu {
    display: block;
} .dropdown-menu {
    border: 1px solid #444444;
    border-radius: 10px;
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    left: 0;
    top: 80%;
} .dropdown-menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #121212;
}

/* Main Content */

/* Welcome Section */
.welcome-section {
    margin-top: 80px;
    text-align: center;
}

/* Squad */
.squad-section {
    background-color: 121212;
    border:#444444 1px solid;
    margin: 20px;
    text-align: center;
} .squad-list {
    height: 100vh;
    max-width: 600px;
    position: relative;
    width: 100%;
} .starter {
    display: block;
    position: absolute;
    width: 8%;
    text-align: center;
    transform: translate(-100%, -100%);
}

/* Bench Section */
#players-list-container {
    font-size: 40%;
    padding: 0;
    margin: 0;
} #players-list {
    display: block;
    padding: 0px;
    margin: 0;
} .player {
    align-items: center;
    column-gap: 0.5%;
    display: grid;
    grid-template-columns: 3%/*photo*/ 8%/*name*/ 5%/*age*/ 5%/*nationality*/ 3%/*height*/ 3%/*weight*/ 4%/*team*/ 5%/*appearances*/ 5%/*minutes*/ 6%/*position*/ 7%/*rating*/ 5%/*shirt*/ 5%/*goals*/ 5%/*passes*/ 5%/*tackles*/ 5%/*dribbles*/ 8%/*fouls*/ 5%/*cards*/;
    margin: 6px;
} .player img {
    width: 100%;
}